<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0, shrink-to-fit=yes, user-scalable=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Calistoga&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />

    <script src="https://unpkg.com/vue"></script>
    <script src="https://api.caisson.com/v2/caisson.js"></script>
  </head>
  <body class="text-center">
    <div id="app">
      <div>
        <div class="vgrid">
          <div>
            <h1>Abstract.</h1>
            <p>Imagine what is possible.</p>
          </div>
        </div>

        <transition-group
          appear
          enter-active-class="animated fadeInUp faster"
          leave-active-class="animated fadeOutDown faster"
        >
          <div key="1" v-show="currentStep == ''" class="section">
            <div class="vgrid">
              <div>
                <!--  -->
              </div>
              <div>
                <button class="btn btn-block btn-lg btn-primary" @click="start">
                  Get Started
                </button>
              </div>
            </div>
          </div>

          <div
            key="2"
            v-show="currentStep == 'started'"
            class="section bg-primary"
          >
            <div class="vgrid">
              <div>
                <p>
                  Before you create an account, <br />
                  we need to check your ID
                </p>
              </div>
              <div>
                <div key="idcheck" id="caisson"></div>
              </div>
            </div>
          </div>

          <div key="3" v-show="currentStep == 'checking'">
            <div class="spinner-border text-primary centered" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <div key="6" v-show="currentStep == 'processing'">
            <div class="spinner-border text-primary centered" role="status">
              <span class="sr-only">Processing...</span>
            </div>
          </div>

          <div
            key="4"
            v-show="currentStep == 'complete'"
            class="section bg-primary"
          >
            <div class="vgrid">
              <div v-if="!error">
                <p>
                  Welcome, <br />
                  {{ firstName }} {{ lastName }}
                </p>
                <p>Let’s set up your account.</p>
              </div>
              <div v-else>
                {{ error }}
              </div>
              <div>
                <button class="btn btn-lg btn-block btn-light" @click="finish">
                  Continue
                </button>
              </div>
            </div>
          </div>

          <div key="5" v-show="currentStep == 'finished'" class="section">
            <div class="vgrid">
              <div>
                <p>
                  This concludes the <br />
                  Caisson ID Check demo.
                </p>
                <p>
                  If you have any questions, <br />
                  please get in touch.
                </p>
                <a href="mailto:hello@caisson.com">hello@caisson.com</a>
              </div>
            </div>
          </div>
        </transition-group>
      </div>
    </div>

    <script>
      const APIKEY = "<%= CAISSON_PUBLIC_API_KEY %>";
      const USER_ID = "<%= USER_ID %>";

      new Vue({
        el: "#app",
        data: {
          currentStep: "",
          firstName: "",
          lastName: "",
          error: "",
          idCheck: {}
        },
        methods: {
          start: function() {
            this.currentStep = "started";

            var caisson = Caisson(APIKEY);
            var button = caisson.button({
              customer_id: USER_ID,
              appearance: "light"
            });

            button.on("idCheckCreated", async idCheck => {
              this.idCheck = idCheck;
              console.log(idCheck);
              this.exchangeToken(idCheck.check_exchange_token);
            });

            button.on("error", error => {
              console.log(error);
            });

            button.on("idCheckProcessing", async() => {
              this.currentStep = "processing";
            });

            button.on("idCheckComplete", async () => {
              this.currentStep = "checking";
              await this.fetchName();
              this.currentStep = "complete";
            });

            button.mount("#caisson");
          },

          exchangeToken: async function(token) {
            const response = await fetch("/exchangetoken", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify({
                user_id: USER_ID,
                caisson_exchange_token: token
              })
            });
          },

          fetchName: async function() {
            const response = await fetch(`/idcheckresult`, {
              method: "GET",
              headers: {
                "X-Example-UserID": USER_ID // Sensitive data is better passed in headers to avoid information leaking through logs etc.
              }
            });
            try {
              const respjson = await response.json();
              if (respjson.error) {
                if (respjson.error === "PENDING_REVIEW") {
                  // This ID Check is pending further review. We won't wait for the result and instead proceed without 
                  // displaying the person's name.
                  return;
                } else {
                  // All other errors...
                  console.log(respjson.error_message)
                  this.error = "Something went wrong. Please try again later."
                  return;
                }
              }
              this.firstName = respjson.id_check_data.first_name;
              this.lastName = respjson.id_check_data.last_name;
            }
            catch(err) {
              console.log("Failed to fetch ID Check result", err)
            }
          },

          finish: function() {
            this.currentStep = "finished";
          }
        }
      });
    </script>
  </body>
</html>
